.Chat-main
  .Chat-main__group-info
    .left-box
      .current-group
        = @group.name
      %ul.member-list
        Member :
        %li.member-list__member
        - @group.users.each do |user|
          = user.name
    .btn
      = link_to edit_group_path(@group), class: "btn__edit" do
        Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "new-message"},local: true do |f|
      .form-content
        = f.text_field :content, class: 'text', placeholder: "type a message"
        = f.label :image, class: 'form-icon' do
          = icon('far', 'image', class: 'image-icon')
          = f.file_field :image, class: 'image'
      = f.submit "Send", class: 'form-btn'