
.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .menu
        = link_to new_group_path, class: "menu__icons" do
          = icon('far', 'edit', class: 'new')
        = link_to edit_user_path(current_user), class: "menu__icons" do
          = icon('fas', "cog", class: 'edit')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .group-menu
        = link_to group_messages_path(group), class: "link" do
          .group-name
            = group.name
          .content
            = group.show_last_message
